@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
</div>

<body>
    <div class="img">
        <img src="~/it.jpg" alt="IT компанії" />
        <a class="btn" asp-area="" asp-controller="Countries" asp-action="Index">Перелік країн</a>
    </div>
</body>

<hr size=3px width=1000px align=left />
<h1 align="center">Аккаунт</h1>


@if (User.Identity.IsAuthenticated)
{
    <h2>Ви ввійшли як:</h2>
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстрація</a>
}

<style>
    .hop {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

        .hop:hover {
            color: #fff;
            background-color: #218838;
            border-color: #1e7e34;
        }

        .hop:focus {
            box-shadow: 0 0 0 0.2rem rgba(72,180,97,0.5);
        }

        .hop.disabled {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }



    p.crop {
        float: left;
        margin: .5em 10px .5em 0;
        overflow: hidden; /* this is important */
        border: 1px solid #ccc;
    }

        p.crop img {
            margin: -341px -400px -400px -400px;
        }

    .img {
        display: inline-block;
        width: 960px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        outline: 1px solid #CCCCCC;
        margin: 10px;
    }

        .img img {
            width: 1300px;
            border: none;
            margin: -201px;
            padding: 0;
        }

        .img .btn {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            box-sizing: border-box;
            margin: 40px;
            padding: 8px;
            width: 80%;
            max-width: 200px;
            background: rgba(255,255,255,0.5);
            border-radius: 8px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;
            transition: all 0.3s ease-out;
            outline: none;
        }
</style>

